@inherits LayoutComponentBase

<PageTitle>DocumentsWeb</PageTitle>

<div class="page">
    <AuthorizeView>
        <Authorized>
            <div class="sidebar">
                <NavMenu />
            </div>
        </Authorized>
    </AuthorizeView>

    <main>
        <div class="top-row px-4 auth">
            <a class="navbar-brand" href="~/">DocumentsWeb</a>
            <div class="d-flex">
                <LoginDisplay />
                <a class="nav-link btn btn-link" href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
            </div>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
