@inherits LayoutComponentBase

<PageTitle>DocumentsWeb</PageTitle>

<div class="page">
    <AuthorizeView>
        <Authorized>
            <div class="sidebar">
                <NavMenu />
            </div>
        </Authorized>
    </AuthorizeView>


    <main>
        <div class="top-row px-4 auth">
            <a class="navbar-brand" href="/">Documents System</a>
            <div class="d-flex">
                <LoginDisplay />
            </div>
        </div>
        <CascadingValue Value="this">
            <article class="content px-4">
                @Body
            </article>
        </CascadingValue>
    </main>
</div>

