@page "/"

<PageTitle>Documents Approval System</PageTitle>

<div class="text-center">
    <h1>Welcome to Documents Approval System</h1>
    <p>This app allows documents to be created, reviewed and processed online.</p>
</div>
<br />
<br />

<div class="d-flex justify-content-center">
    <div class="d-flex flex-column">
        <div>
            <h3>Writer Role</h3>
            <ul>
                <li>Create new documents</li>
                <li>Modify existing documents</li>
                <li>Push documents for approval</li>
                <li>Publish documents as final</li>
            </ul>
        </div><div>
            <h3>Reviewer Role</h3>
            <ul>
                <li>Approve\Reject document</li>
                <li>Add comments to document</li>
                <li>Receive notification when a document requires your attention</li>
            </ul>
        </div>
    </div>
</div>
@code {

    // Gets a reference to the MainLayout component
    [CascadingParameter]
    public MainLayout Layout { get; set; }

    protected override void OnInitialized()
    {
    }
}