@page "/users"
@using DocumentsWeb.Data
@using Microsoft.AspNetCore.Identity
@using Radzen
@using Radzen.Blazor

@inject UserManager<User> UserManager

<h1>Users</h1>

<div class="row">
    <div class="col-8"></div>
    <div class="col-4 "></div>
</div>
<p>List of users registered on the system.</p>

@if (!UserManager.Users.Any())
{
    <div class="alert alert-danger">No users are currently registered</div>
}
else
{
    <RadzenDataGrid AllowFiltering="true" AllowColumnResize="true" AllowAlternatingRows="false" FilterMode="FilterMode.Advanced"
        AllowSorting="true" PageSize="5" AllowPaging="true" PagerHorizontalAlign="HorizontalAlign.Left" ShowPagingSummary="true"
                Data="@UserManager.Users" TItem="IdentityUser" ColumnWidth="300px" LogicalFilterOperator="LogicalFilterOperator.Or">
        <Columns>
            <RadzenDataGridColumn TItem="IdentityUser" Property="TitleOfCourtesy" Title="Title" Width="120px" />
            <RadzenDataGridColumn TItem="IdentityUser" Property="FirstName" Title="First Name" Frozen="true" Width="160px" />
            <RadzenDataGridColumn TItem="IdentityUser" Property="LastName" Title="Last Name" Width="160px" />
            <RadzenDataGridColumn TItem="IdentityUser" Property="Email" Title="Email" Width="200px" />
        </Columns>
    </RadzenDataGrid>
}

@code {

    protected override async Task OnInitializedAsync()
    {
    }
}
