@page "/users"
@using DocumentsWeb.Data
@using Microsoft.AspNetCore.Identity
@using Radzen
@using Radzen.Blazor
@using Microsoft.EntityFrameworkCore

@inject UserManager<User> UserManager


<div class="row">
    <div class="col-8">
        <h1>Users</h1>
        <p>List of users registered on the system.</p>

    </div>
    <div class="col-4 text-end d-flex flex-column align-items-end justify-content-around">
        <a class="btn btn-primary" href="~/Account/AddUser">Add User</a>
    </div>
</div>

@if (!UsersList.Any())
{
    <div class="alert alert-danger">No users are currently registered</div>
}
else
{
    <RadzenDataGrid AllowFiltering="true" AllowColumnResize="true" AllowAlternatingRows="false" FilterMode="FilterMode.Advanced"
                AllowSorting="true" PageSize="5" AllowPaging="true" PagerHorizontalAlign="HorizontalAlign.Left" ShowPagingSummary="true"
                Data="@UsersList" TItem="DTO" ColumnWidth="300px" LogicalFilterOperator="LogicalFilterOperator.Or">
        <Columns>
            <RadzenDataGridColumn TItem="DTO" Property="Item1.TitleOfCourtesy" Title="Title" Width="120px" />
            <RadzenDataGridColumn TItem="DTO" Property="Item1.FirstName" Title="First Name" Frozen="true" Width="160px" />
            <RadzenDataGridColumn TItem="DTO" Property="Item1.LastName" Title="Last Name" Width="160px" />
            <RadzenDataGridColumn TItem="DTO" Property="Item1.Email" Title="Email" Width="200px" />
            <RadzenDataGridColumn TItem="DTO" Property="Item2" Title="Role" Width="200px" />
            <RadzenDataGridColumn TItem="DTO" Property="Item1.Id" Title="" Width="120px">

                <Template Context="data">
                    <button class="btn btn-danger" onclick="@(async () => await DeleteUserAsync(data.Item1))">
                        Delete
                    </button>
                </Template>
            </RadzenDataGridColumn>
        </Columns>
    </RadzenDataGrid>
}

@code {

    public class DTO
    {
        public User Item1 { get; set; }
        public string Item2 { get; set; }
    }

    private IList<DTO> UsersList { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await LoadAsync();
    }

    private async Task LoadAsync()
    {
        UsersList = new List<DTO>();
        var users = await UserManager.Users.ToListAsync();
        foreach (var u in users)
        {
            var roles = await UserManager.GetRolesAsync(u);
            UsersList.Add(new DTO { Item1 = u, Item2 = (string.Join(",", roles) ?? "-") });
        }
    }


    private async Task DeleteUserAsync(User user)
    {
        var roles = await UserManager.GetRolesAsync(user);
        if (roles.Contains("Admin"))
        {
            return;
        }
        else
        {
            await UserManager.DeleteAsync(user);
            await LoadAsync();
        }
    }
}
