@page "/documents/{id}"
@using Microsoft.Extensions.Logging
@inject ILogger<EditDocument> Logger

<h3>EditDocument</h3>

@*<div class="mb-3">
    <label asp-for="" class="form-label">Document Title</label>
    <input type="email" class="form-control"asp-for="" placeholder="name@example.com">
</div>*@

<EditForm Model="@document" OnValidSubmit="@HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <label>
            Document Name:
        <InputText @bind-Value="document.Name" />
        </label>

    <TinyMCE.Blazor.Editor @bind-Value="document.Content" Field="() => document.Content" ValidationOnInput="@true"
                           ApiKey="6e3vx46jzrha3mnazx36z2ag89nka5b707wtu1s3ustv7nbv" />
    <button type="submit">Submit</button>
</EditForm>

@code {

    [Parameter]
    public string? Id { get; set; }

    private Document document = new();

    private void HandleValidSubmit()
    {
        Logger.LogInformation("HandleValidSubmit called");

        // Process the valid form
    }
}